.gif {
    margin: 10px;
}

.row {
    width: 80vw;
}

.container {
    width: 80vw;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.color {
    background-color: rgba(255, 255, 255, 0.60)	;
}

.row {
    margin: 0;
}